
<br><br>
        <h2 class="sideNavH2">Sign Up</h2>
        <form class="formWidth" ng-submit='ctrl.registerUser()'>
            <div id="incorrectPassword"></div>
            <label for="username">Username:</label>
            <input type="text" class="form-control" placeholder="username" ng-model="ctrl.newUserForm.username" />
         

            <div class="form-group">
                <label for="pwd">Password:</label>
                <input type="password" class="form-control" placeholder="password" ng-model="ctrl.newUserForm.password" />
            </div>
            <div class="checkbox">
                <label><input type="checkbox"> Remember me</label>
            </div>
            <input ng-click='ctrl.closeNavRegister()' type="submit" />
        </form>

        <button ng-click="ctrl.closeNavRegister()">Return to Website</button>
