

<!-- modal -->
<div class="modalType" ng-class="(ctrl.modalOpenRegister ? 'modalOpenRegister' : '' )">
    <div class="modal-text-box">

    <h2 class="modalH2">Register</h2>
    <form ng-submit='ctrl.registerUser()'>
        <div id="incorrectPassword"></div>
            <label for="username">Username:</label>
            <input type="text" class="form-control" placeholder="username" ng-model="ctrl.newUserForm.username" />
            <!-- <input type="password" class="form-control ng-pristine ng-untouched ng-valid ng-empty" placeholder="password" ng-model="ctrl.loginForm.password"> -->
        
        <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" placeholder="password" ng-model="ctrl.newUserForm.password" />
        </div>
        <div class="checkbox">
            <label><input type="checkbox"> Remember me</label>
        </div>
        <input type="submit"/>
    </form>

        <button ng-click="ctrl.closeRegisterModal()">Return to Website</button>

            </div>
        </div>

