<div class="flexList">
    <div class="w3-third w3-margin-bottom" style="padding:0 8px;" ng-repeat="travel in ctrl.travels">
        <img style="width:100%;" ng-src="{{ travel.img }}" alt="Travel Image">
        <h4>
            <span> Destination: </span>{{ travel.destination }}</h4>
        <h6 class="h6left">
            <span> Climate: </span> {{ travel.climate }} </h6>
        <h6 class="h6left">
            <span> Kid Friendly:</span> {{ travel.kid_friendly }}</h6>
        <p>
            <span> Dates: </span> {{ travel.dates }}</p>

        <p>
            <span></span> {{ travel.description }}</p>

<div>
    <button href="/about"  ng-click="ctrl.showEdit( travel )">edit</button>
    <button ng-click="ctrl.deleteTravel( travel._id )">remove</button>




    <div >
        <!-- <div ng-repeat="travel in ctrl.travels"></div> -->
     

            <div class='widget' data-origin-geo-lookup="true" data-skyscanner-widget="LocationWidget" data-currency="USD" data-whitelabeldomain="whitelabeldemo.skyscanner.net"
                data-destination-name="{{ travel.destination }}"></div>
    </div>




</div>
</div>
</div>
